// --- define variables
@main-color: #B62537;
@text-color: #222222;
@keytext-color: #2080b9;
@border-color: #eee;

@main-element: ~".main-header, .main-content";
@aside-info: ~".time-info, .location-info";
@main-link: ~".main-nav a, .register-button";


// --- mixins
.border(@width,@color){
	border: @width solid @color;
}
.borderBottom(@width,@color){
	border-bottom: @width solid @color;
}
.borderTop(@width,@color){
	border-top: @width solid @color;
}

// --- basics
*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
p{
	line-height: 24px;
}
body{
	color: @text-color;
	background: lighten(@keytext-color,40%);
}

// --- commons
@{main-element},
.location-list li{
	overflow: hidden;
}
@{main-element},
.main-footer,
.sponsor-info{
	margin: 0 auto;
}
@{main-element},
.main-footer{
	background: white;
	width: 1024px;
}
.main-nav li,
.main-aside,
.main-section,
.welcome-article img,
.location-list p,
.location-list iframe{
	float: left;
}
@{main-link},
.main-footer{
	text-align: center;
}
@{main-link}{
	display: block;
	color:white;
	background: @main-color;
}
.main-nav a:hover,
.main-nav a.active,
.register-button:hover{
	background: @text-color;
}
.social-icon li,
.social-icon a,
.sponsor-list li{
	display: inline-block;
}
@{aside-info},
.welcome-intro{
	.borderBottom(1px,@border-color);
}
@{aside-info}{
	padding: 20px 0;
	font-weight: 600;
}
.location-info h3,
.prior-info a{
	color:@keytext-color;
}
.welcome-intro,
.welcome-article{
	p{
		padding: 10px 0;
	}
}

// --- main-header
.main-header{
	margin-top: 52px;
	.borderTop(3px,@main-color);
}
.main-nav{
	margin-left: 75px;
	a{
		height: 65px;
		line-height: 65px;
		padding: 0 12px;
	}
}

// --- main-content
.main-content{
	padding: 35px 50px 50px;
	.borderBottom(1px,lighten(@main-color,45%));
}

// --- main-aside
.main-aside{
	width: 245px;
	margin-right: 36px;
	img{
		width: 205px;
	}
}
.time-info{
	p{
		padding: 0 10px;
	}
}
.location-info{
	p{
		padding: 10px;
	}
}
.social-icon{
	padding: 20px;
	li{
		margin-right: 20px;
	}
	img{
		height: 60px;
		width: 60px;
	}
}

// --- main-section
.main-section{
	width: 643px;
}

// --- welcome page
.welcome-intro{
	padding-bottom: 20px;
}
.welcome-article{
	margin-top: 20px;
	h2{
		color: @main-color;
		font-size: 36px;
		margin-bottom: 20px;
	}
	img{
		margin-right: 20px;
	}
}

// --- register page
.register-content{
	ul{
		margin: 20px 0 40px 40px;
		li{
			list-style: disc;
		}
	}
}
.register-button{
	font-size: 16px;
	line-height: 60px;
	height: 60px;
	width: 150px;
	margin-left: 50px;
}

// --- location page
.location-list{
	padding-top: 40px;
	li:first-child{
		margin-bottom: 40px;
	}
	p{
		width: 200px;
	}
	iframe{
		.border(2px,@border-color);
		padding: 10px;
	}
}

// --- main-footer
.main-footer{
	padding: 50px 0;
	margin-bottom: 52px;
	.borderBottom(30px,@main-color);
}
.prior-info{
	margin-bottom: 40px;
	p{
		margin-top: 10px;
	}
}
.sponsor-info{
	width: 700px;
}
.sponsor-list{
	li{
		padding: 30px 20px;
	}
	img{
		height: 70px;
	}
}