@mainColor: #B62537;
@textColor: #222222;
@keyTextColor: #2080b9;
@borderColor: #eee;

@mainElement: ~".main-header, .main-content";
@asideInfo: ~".time-info, .location-info";
@mainLink: ~".main-nav a, .register-button";

.border(@width,@color){
	border: @width solid @color;
}
.borderBottom(@width,@color){
	border-bottom: @width solid @color;
}
.borderTop(@width,@color){
	border-top: @width solid @color;
}

//basics
*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
p{
	line-height: 24px;
}
body{
	color: @textColor;
	background: lighten(@keyTextColor,40%);
}

//commons
@{mainElement},
.location-list li{
	overflow: hidden;
}
@{mainElement},
.main-footer,
.sponsor-info{
	margin: 0 auto;
}
@{mainElement},
.main-footer{
	background: white;
	width: 1024px;
}
.main-nav li,
.main-aside,
.main-section,
.welcome-article img,
.location-list p,
.location-list iframe{
	float: left;
}
@{mainLink},
.main-footer{
	text-align: center;
}
@{mainLink}{
	display: block;
	color:white;
	background: @mainColor;
}
.main-nav a:hover,
.main-nav a.active,
.register-button:hover{
	background: @textColor;
}
.social-icon li,
.social-icon a,
.sponsor-list li{
	display: inline-block;
}
@{asideInfo},
.welcome-intro{
	.borderBottom(1px,@borderColor);
}
@{asideInfo}{
	padding: 20px 0;
	font-weight: 600;
}
.location-info h3,
.prior-info a{
	color:@keyTextColor;
}

//main-header
.main-header{
	margin-top: 52px;
	.borderTop(3px,@mainColor);
}
.main-nav{
	margin-left: 75px;
	a{
		height: 65px;
		line-height: 65px;
		padding: 0 12px;
	}
}

//main-content
.main-content{
	padding: 35px 50px 50px;
	.borderBottom(1px,lighten(@mainColor,45%));
}

//main-aside
.main-aside{
	width: 245px;
	margin-right: 36px;
	img{
		width: 205px;
	}
}
.time-info{
	p{
		padding: 0 10px;
	}
}
.location-info{
	p{
		padding: 10px;
	}
}
.social-icon{
	padding: 20px;
	li{
		margin-right: 20px;
	}
	img{
		height: 60px;
		width: 60px;
	}
}

//main-section
.main-section{
	width: 643px;
}

//welcome page
.welcome-intro,
.welcome-article{
	p{
		padding: 10px 0;
	}
}
.welcome-intro{
	padding-bottom: 20px;
}
.welcome-article{
	margin-top: 20px;
	h2{
		color: @mainColor;
		font-size: 36px;
		margin-bottom: 20px;
	}
	img{
		margin-right: 20px;
	}
}

//register page
.register-content{
	ul{
		margin: 20px 0 40px 40px;
		li{
			list-style: disc;
		}
	}
}
.register-button{
	font-size: 16px;
	line-height: 60px;
	height: 60px;
	width: 150px;
	margin-left: 50px;
}

// location page
.location-list{
	padding-top: 40px;
	li:first-child{
		margin-bottom: 40px;
	}
	p{
		width: 200px;
	}
	iframe{
		.border(2px,@borderColor);
		padding: 10px;
	}
}

//main-footer
.main-footer{
	padding: 50px 0;
	margin-bottom: 52px;
	.borderBottom(30px,@mainColor);
}
.prior-info{
	margin-bottom: 40px;
	p{
		margin-top: 10px;
	}
}
.sponsor-info{
	width: 700px;
}
.sponsor-list{
	li{
		padding: 30px 20px;
	}
	img{
		height: 70px;
	}
}
